* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background: #f7f7f9;
}

header {
  background: #fff;
  height: 120px;
}

.top-section {
  display: none;
}

.mobil-display {
  display: flex;
  justify-content: space-between;
}

.toggle-bar {
  margin: 20px;
}
.toggle-bar .bar {
  width: 30px;
  height: 3px;
  background-color: #272a31;
  margin-top: 8px;
  transition: all 0.5s ease-in-out;
  display: block;
}

.logo {
  width: 30px;
}

.close-toggle {
  font-size: xx-large;
  color: #fff;
  z-index: 10000;
  margin: 5px 30px;
}


.desktop-menu {
  display: flex;
  flex-direction: column;
  background: #272a31;
  margin: 0;
  width: 100%;
  height: 100vh;
  padding: 40px 28px;
  top: 0;
  left: -100%;
  opacity: 0;
  position: fixed;
  backdrop-filter: blur(5px);
  z-index: 1000;
  
}

.desktop-menu li {
  padding: 20px 0;
  list-style: none;
}

.desktop-menu .desktop-links {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin-left: 20%;
}

.desktop-menu.active {
  left: 0;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.home-page {
  margin: 55px 20px;
}

.title {
  width: 92.5%;
  padding-top: 7rem;
  margin-inline: auto;
  min-height: 326.85px;
  height: auto;
}

.intro-headline {
  color: #ec5242;
  font-size: 18;
}

.title .main-headline {
  color: #ec5242;
  font-size: 30px;
}

.theme {
  border: 1px solid #dfe1e6;
  margin: 25px 10px;
}

.theme p {
  margin: 10px;
}

.date p {
  margin-top: 15px;
}

.program {
  background-image: url(image/repeat-bg.png);
  background-repeat: repeat;
  background-position: center;
  background-color: black;
  margin-top: 30px;
  color: #dfe1e6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.program .main-program {
  margin: 30px;
  align-items: center;
  text-align: center;
}

hr {
  width: 10%;
  margin-inline: auto;
  border: none;
  height: 3px;
  background: #ec5242;
}

.program .main-program span {
  width: 30px;
  height: 3px;
  background-color: #ec5242;
  display: block;
  margin-left: 30px;
  align-items: center;
  left: -50;
}

.lecture {
  display: flex;
  margin: 10px;
  padding: 30px 15px;
  background-color: #272a31;
  justify-content: space-around;
  border: 2px solid #313641;
  padding: 10px;
  opacity: 0.9;
}

.icons {
  width: 16%;
  margin: 10% 5%;
  text-align: center;
  align-self: center;
}

.icons img {
  width: 100%;
  align-content: center;
  display: block;
  z-index: 10;
}

.lecture h3 {
  font-size: 1.2rem;
  margin: 0 3%;
  align-items: center;
  width: 30%;
  color: #ec5242;
  text-align: center;
  align-self: center;
}

.content {
  font-size: 0.9rem;
  margin: 5%;
  width: 60%;
  align-items: center;
  align-self: center;
}

.join {
  background-color: #ec5242;
  color: #dfe1e6;
  margin: 20px 50px;
  height: 85px;
}

.guest-speaker {
  margin: 30px 20px;
}

.speaker-list {
  margin: 30px;
  align-items: center;
  text-align: center;
}

.speaker1 {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 5px;
}

.speaker1 .image {
  width: 40%;
}

.speaker1 .image img {
  width: 100%;
}

.dicription {
  width: 60%;
  padding-left: 5%;
}

.partners-section {
  background-color: #3f444f;
}

.partners-heading {
  text-align: center;
  color: #fff;
  padding-top: 10%;
}

.partners-list img {
  filter:
    invert(100%) sepia(0%) saturate(0%) hue-rotate(311deg)
    brightness(102%) contrast(105%);
}

.partners-flex {
  width: 90%;
  margin: auto;
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.partner-list {
  width: 100%;
}

.partner-image {
  width: 125px;
  height: 40px;
}

@media (min-width: 768px) {
  .desktop-menu {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 20px;
    justify-content: end;
    position: relative;
    top: 0;
    left: 0;
    opacity: 1;
    margin-top: 0;
    padding: 0;
    background-color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
  
    .top-section {
    display: block;
    position: relative;
    width: 100%;
    margin: auto;
  }


  .bars {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    background-color:#272a31 ;
  }

  .bars li {
    margin: 8px;
    color: white;
    font-size: 0.7rem;
    padding-inline: 0.8%;
    cursor: pointer;
  }

  .close-toggle {
    display: none;
  }

  .desktop-menu .desktop-links {
    padding: 0 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .desktop-menu li {
    list-style: none;
  }
  .desktop-menu li a {
    text-decoration: none;
  }
  .toggle-bar .bar {
    width: 30px;
    height: 3px;
    background-color: #6070ff;
    margin: 8px auto;
    transition: all 0.5s ease-in-out;
    display: none;
  }

  #mobile-menu {
    position: absolute;
    top: 10%;
    right: 5%;
    display: none;
  }

  .program-list {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: start;
    margin: 30px 50px;
  }

  .program-list .lecture {
    display: flex;
    flex-direction: column;
  }

  .lecture {
    margin: 10px 5px;
    text-align: center;
  }
  .join {
    display: none;
  }

  .speaker {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 30px 10px;
  }
}
